*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
   transition: all 0.3s ease-in-out ;
}

.layout {
  display: grid;
  grid-template-columns: 100px 1fr; /* Navbar fixed width, Weather expands */
  height: 100vh;
}

.sidebar {
  background: #edf2fb;
  color: white;
  padding: 20px;
}

.content {
  background: #f8fafc;
  padding: 20px;
  overflow-y: auto; /* Scroll only content */
}

.container{
    position: fixed;
    left: 2;

}

.navbar img{
    height: 50px;
    width: 50px;
      
}

.navbar-logo{
    display: flex;
    flex-direction: column;
    margin-top:260px ;
    gap: 25px;
}

.navbar-logo img{
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-left:8px ;
}

.navbar p{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    font-size: 0.6rem;
    justify-content: center;
    align-items: center;

}

.navbar p img{
    height: 20px;
    width: 20px;
    margin-left: 2px;
}

.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 28px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 100vh;
}

.planner{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 28px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 95vh;
}


/* Responsive: stack on smaller screens */
@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
